table {
	border-collapse: collapse;
	border: medium solid black;
}

td {
	padding: 5px;
}

table th {
	padding: 15px;
	background-color: blue;
	color: white;
	border-bottom: medium solid black;
	font-size: 120%;
}

table tr:nth-child(even) {
	background-color: lightgray;
}

table tr:nth-child(odd) {
	background-color: white;
}

#top {
	
}

body {
	background-color: #66ccff;
}
